extends modules/template

block title 
	title Page A

block content

	include modules/mixin

	h1 Афиша липецка
	.row
		.col-md-9.col-sm-9.col-xs-12
			//slick-slider
			.slick-slider
				.slick-item
					img(src="upload/slide-1.jpg" alt="")
					div
						.genre Мультфильм, боевик, комедия, криминал
						.name Зверополис-2:
							br 
							| Апокалипис близко
						.pre-date в кинотеатрах с 24 октября
						footer.clearfxi
							.date
								span
								| сегодня, 19.30
							.comment
								span
								| 123
							a.btn(href="#") Сеансы
				.slick-item
					img(src="upload/slide-3.jpg" alt="")
					div
						.genre Мультфильм, боевик, комедия, криминал
						.name Зверополис-2:
							br 
							| Апокалипис близко
						.pre-date в кинотеатрах с 24 октября
						footer.clearfxi
							.date
								span
								| сегодня, 19.30
							.comment
								span
								| 123
							a.btn(href="#") Сеансы
				.slick-item
					img(src="upload/slide-2.jpg" alt="")
					div
						.genre Мультфильм, боевик, комедия, криминал
						.name Зверополис-2:
							br 
							| Апокалипис близко
						.pre-date в кинотеатрах с 24 октября
						footer.clearfix
							.date
								span
								| сегодня, 19.30
							.comment
								span
								| 123
							a.btn(href="#") Сеансы
			//end slick-slider

			.panel-heading.clearfix
				nav.navbar( role="navigation")
					ul.nav.nav-tabs.navbar-nav.select-submenu.calendar
						+nav_item_dropdown("#")( label="Сегодня")
							+nav_item_tab("#date2") Сегодня 2
							+nav_item_tab("#date3") Завтра
							+nav_item_tab("#date4") Послезавтра
							+nav_item_dropdown( "#" )(label="Выбрать дату") 
								li
									.datepicker
									
					ul.nav.nav-tabs.navbar-nav.select-submenu.audience
						+nav_item_dropdown( "#" )( label="Кому?")
							+nav_item_tab("#date2") Детям
							+nav_item_tab("#date3") Детям 2
							+nav_item_tab("#date4") Детям 3
				
			.panel-body
				.tab-content
					.tab-pane.fade.in.active#date1
						.flexBlock
							h2 Кино
							a(href="/") Все(456)
						.row.loadingBlock
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-1.jpg", "Не дыши", "боевик, триллер, криминал ", 1) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-2.jpg", "Длинное название фильма для теста", "боевик, триллер, криминал и ещё куча жанра", 2) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-3.jpg", "Не дыши", "боевик, триллер, криминал ", 3) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-1.jpg", "Не дыши", "боевик, триллер, криминал ", 1) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-2.jpg", "Длинное название фильма для теста", "боевик, триллер, криминал и ещё куча жанра", 2) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-3.jpg", "Не дыши", "боевик, триллер, криминал ", 3) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-1.jpg", "Не дыши", "боевик, триллер, криминал ", 1) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-2.jpg", "Длинное название фильма для теста", "боевик, триллер, криминал и ещё куча жанра", 2) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-3.jpg", "Не дыши", "боевик, триллер, криминал ", 3) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-1.jpg", "Не дыши", "боевик, триллер, криминал ", 1) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-2.jpg", "Длинное название фильма для теста", "боевик, триллер, криминал и ещё куча жанра", 2) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически
							.col-md-4.col-sm-6.col-xs-12.card
								+film('#', "upload/film-3.jpg", "Не дыши", "боевик, триллер, криминал ", 3) Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.


							.col-md-12.col-sm-12.xol-xs-12.loadingBtn
								a.readmore(href="#")
									span.clearfix
										span.film-button
										| Еще фильмы

			.row
				.col-md-8.col-sm-12.col-xs-12
					.banner-s
						a(href="#"): img(src="upload/banner-m.jpg" alt="")
				.col-md-4.hidden-sm.hidden-xs
					.banner-s
						a(href="#"): img(src="upload/banner-s.jpg" alt="")
			.title
				.flexBlock
					.wrap
						h2 Выставки
						a(href="#") + еще 3 сегодня
					.wrap
						a(href="/") Все(456)
			#exhibition.row
				.col-md-4.col-sm-6.col-xs-12
					+film('#', "upload/film-1.jpg", "Не дыши", "Картины, пейзажи", 16, "exhibition", "Выставка") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.
				.col-md-4.col-sm-6.col-xs-12
					+film('#', "upload/film-2.jpg", "Длинное название выставки для теста", "боевик, триллер, криминал и ещё куча жанра", 17, "exhibition", "Выставка") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически
				.col-md-4.hidden-sm.hidden-xs
					+film('#', "upload/film-3.jpg", "Не дыши", "Картины, пейзажи", 18, "exhibition", "Выставка") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.

			.flexBlock
				h2 Концерты
				a(href="/") Все(456)
			#concert.row
				.col-md-4.col-sm-6.col-xs-12
					+film('#', "upload/film-1.jpg", "Metallica", "Hard rock, metall, jungle", 19, "concert", "Концерт") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.
				.col-md-4.col-sm-6.col-xs-12
					+film('#', "upload/film-2.jpg", "Длинное название выставки для теста", "боевик, триллер, криминал и ещё куча жанра", 20, "concert", "Концерт") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически
				.col-md-4.hidden-sm.hidden-xs
					+film('#', "upload/film-3.jpg", "Не дыши", "Hard rock, metall, jungle", 21, "concert", "Концерт") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть проще, чем вынести деньги из дома практически беспомощного человека. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления. Но они жестоко ошибаются: преследуемый становится преследователем. И тайна, которую он хранит, гораздо страшнее, чем обычные пенсионные накопления.
			
			.flexBlock
				h2 Последние отзывы о заведениях
				a(href="/") Все(456)
			.fon
				.row.recall-block
					.col-md-4.col-sm-6.col-xs-12
						+recall("Кафе щепкин") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть						
					.col-md-4.col-sm-6.col-xs-12
						+recall("Сказки аделиады и шехеризады") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может бытьКазалось бы — что может быть
					.col-md-4.col-sm-6.col-xs-12
						+recall("Сказки аделиады и шехеризады") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может бытьКазалось бы — что может быть
					.col-md-4.col-sm-6.col-xs-12
						+recall("Кафе щепкин") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть			Казалось бы — что может быть			
					.col-md-4.col-sm-6.col-xs-12
						+recall("Сказки аделиады и шехеризады") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может бытьКазалось бы — что может быть
					.col-md-4.col-sm-6.col-xs-12
						+recall("Сказки аделиады и шехеризады") Грабители забираются в дом одинокого слепого старика с целью украсть огромную сумму, которая, по слухам, спрятана где-то внутри. Казалось бы — что может быть

		.col-md-3.col-sm-3.hidden-xs.right-side
			.banner-s
				a(href="#"): img(src="upload/banner-right.jpg" alt="")
			.banner-s
				a(href="#"): img(src="upload/banner-s.jpg" alt="")
			.reading.fon
				header: a(href="#") Сейчас читают
				.item
					a(href="#") Водители в Липецке поддались массовому психозу (ВИДЕО)
					.time
						| 1,5 часа
				.item
					a(href="#") В Липецке медсестру вынудили уволиться за фото в социальной сети
					.time
						| 1,5 часа
				.item
					a(href="#") После рекордной жары в Липецке ждут грозу
					.time
						| 1,5 часа
				.item
					a(href="#") Липецкая студентка задержана за поджог автомобиля
					.time
						| 1,5 часа
				.item
					a(href="#") Водители в Липецке поддались массовому психозу (ВИДЕО)
					.time
						| 1,5 часа
			.fon
				img(src="upload/yandex.jpg" alt="")