extends modules/template

block title 
	title Page A

block content

	include modules/mixin

	//row
	.row
		.col-md-3.col-sm-6.col-xs-12
			.news-item: .row
				.news-item-img.col-md-12.col-sm-12.col-xs-5
					a(href="#"): img(src="upload/news-item.jpg" alt="")
				.news-item-text.col-md-12.col-sm-12.col-xs-7
					header
						.row
							.col-md-6.col-sm-6.hidden-xs
								a(href="#") #Недвижимость
								br
								a(href="#") #Грабеж
							.col-md-6.hidden-sm.hidden-xs
								.time сегодня, 09:30
					.news-item-name
							a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
					footer
						.row
							.hidden-lg.hidden-md.col-sm-6.col-xs-6
								.time сегодня, 09:30
							.col-md-12.col-sm-6.col-xs-6
								a.razdel(href="#") Общество

		.col-md-3.col-sm-6.col-xs-12
			.news-item: .row
				.news-item-img.col-md-12.col-sm-12.col-xs-5
					a(href="#"): img(src="upload/news-item.jpg" alt="")
				.news-item-text.col-md-12.col-sm-12.col-xs-7
					header
						.row
							.col-md-6.col-sm-6.hidden-xs
								a(href="#") #Недвижимость
								br
								a(href="#") #Грабеж
							.col-md-6.hidden-sm.hidden-xs
								.time сегодня, 09:30
					.news-item-name
							a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
					footer
						.row
							.hidden-lg.hidden-md.col-sm-6.col-xs-6
								.time сегодня, 09:30
							.col-md-12.col-sm-6.col-xs-6
								a.razdel(href="#") Общество
		.col-md-3.col-sm-6.col-xs-12
			.news-item: .row
				.news-item-img.col-md-12.col-sm-12.col-xs-5
					a(href="#"): img(src="upload/news-item.jpg" alt="")
				.news-item-text.col-md-12.col-sm-12.col-xs-7
					header
						.row
							.col-md-6.col-sm-6.hidden-xs
								a(href="#") #Недвижимость
								br
								a(href="#") #Грабеж
							.col-md-6.hidden-sm.hidden-xs
								.time сегодня, 09:30
					.news-item-name
							a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
					footer
						.row
							.hidden-lg.hidden-md.col-sm-6.col-xs-6
								.time сегодня, 09:30
							.col-md-12.col-sm-6.col-xs-6
								a.razdel(href="#") Общество
		.col-md-3.col-sm-6.hidden-xs
			.banner-s
				a(href="#"): img(src="upload/banner-right.jpg" alt="")

	//row
	.row
		.col-md-3.col-sm-6.hidden-xs
			.news-item.news-item2: .row
				.news-item-img.col-md-6.col-sm-6.col-xs-5
					a(href="#"): img(src="upload/news-item.jpg" alt="")
				.col-md-6.col-sm-6.col-xs-7
					.news-item-text.news-item-text2
						header
							.row
								.col-md-6.col-sm-6.hidden-xs
									a(href="#") #Недвижимость
									br
									a(href="#") #Грабеж
				.col-md-12.col-sm-12.col-xs-12
					.news-item-text
						.news-item-name
								a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
						footer
							.row
								.col-md-6.col-sm-6.col-xs-6
									.time сегодня, 09:30
								.col-md-6.col-sm-6.col-xs-6.text-right
									a.razdel(href="#") Общество

		.col-md-6.col-sm-6.col-xs-6
			.news-item.news-item3: .row
				.col-md-12.col-sm-12.col-xs-12
					.news-item-text
						.news-item-name
								a(href="#") Железнодорожники из-за жары вводят 
									br
									| повышенные меры безопасности
						footer
							.row
								.col-md-6.col-sm-6.col-xs-6
									.time сегодня, 09:30
								.col-md-6.col-sm-6.col-xs-6.text-right
									a.razdel(href="#") Общество
			.news-item.news-item3: .row
				.col-md-12.col-sm-12.col-xs-12
					.news-item-text
						.news-item-name
								a(href="#") Железнодорожники из-за жары вводят 
									br
									| повышенные меры безопасности
						footer
							.row
								.col-md-6.col-sm-6.col-xs-6
									.time сегодня, 09:30
								.col-md-6.col-sm-6.col-xs-6.text-right
									a.razdel(href="#") Общество
		.col-md-3.col-sm-3.col-xs-3
			.birthday
				| День рождения
	//row
	.row
		.col-md-12.col-sm-12.hidden-xs
			.banner-s
				a(href="#"): img(src="upload/banner-2.jpg" alt="")
		
		.col-md-9.col-sm-12.col-xs-12
			.news-large
				.row
					.col-md-8.col-sm-8.col-xs-8
						| В Липецкой области будут искать пески
					.col-md-4.col-sm-4.col-xs-4

		.col-md-3.hidden-sm.hidden-xs
			.news-item: .row
				.news-item-img.col-md-12.col-sm-12.col-xs-5
					a.video-link(href="#"): img(src="upload/news-item.jpg" alt="")
				.news-item-text.col-md-12.col-sm-12.col-xs-7
					header
						.row
							.col-md-6.col-sm-6.hidden-xs
								a(href="#") #Недвижимость
								br
								a(href="#") #Грабеж
							.col-md-6.hidden-sm.hidden-xs
								.time сегодня, 09:30
					.news-item-name
							a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
					footer
						.row
							.hidden-lg.hidden-md.col-sm-6.col-xs-6
								.time сегодня, 09:30
							.col-md-12.col-sm-6.col-xs-6
								a.razdel(href="#") Общество

	//row
	.row
		.col-md-6.col-sm-12.col-xs-12
			.row
				.col-md-6.col-sm-6.col-xs-12
					.news-item: .row
						.news-item-img.col-md-12.col-sm-12.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.news-item-text.col-md-12.col-sm-12.col-xs-7
							header
								.row
									.col-md-6.col-sm-6.hidden-xs
										a(href="#") #Недвижимость
										br
										a(href="#") #Грабеж
									.col-md-6.hidden-sm.hidden-xs
										.time сегодня, 09:30
							.news-item-name
									a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
							footer
								.row
									.hidden-lg.hidden-md.col-sm-6.col-xs-6
										.time сегодня, 09:30
									.col-md-12.col-sm-6.col-xs-6
										a.razdel(href="#") Общество
					.news-item.news-item2: .row
						.news-item-img.col-md-6.col-sm-6.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.col-md-6.col-sm-6.col-xs-7
							.news-item-text.news-item-text2
								header
									.row
										.col-md-6.col-sm-6.hidden-xs
											a(href="#") #Недвижимость
											br
											a(href="#") #Грабеж
						.col-md-12.col-sm-12.col-xs-12
							.news-item-text
								.news-item-name
										a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
								footer
									.row
										.col-md-6.col-sm-6.col-xs-6
											.time сегодня, 09:30
										.col-md-6.col-sm-6.col-xs-6.text-right
											a.razdel(href="#") Общество
				
				.col-md-6.col-sm-6.col-xs-12
					.news-item.news-item2: .row
						.news-item-img.col-md-6.col-sm-6.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.col-md-6.col-sm-6.col-xs-7
							.news-item-text.news-item-text2
								header
									.row
										.col-md-6.col-sm-6.hidden-xs
											a(href="#") #Недвижимость
											br
											a(href="#") #Грабеж
						.col-md-12.col-sm-12.col-xs-12
							.news-item-text
								.news-item-name
										a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
								footer
									.row
										.col-md-6.col-sm-6.col-xs-6
											.time сегодня, 09:30
										.col-md-6.col-sm-6.col-xs-6.text-right
											a.razdel(href="#") Общество
					.news-item: .row
						.news-item-img.col-md-12.col-sm-12.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.news-item-text.col-md-12.col-sm-12.col-xs-7
							header
								.row
									.col-md-6.col-sm-6.hidden-xs
										a(href="#") #Недвижимость
										br
										a(href="#") #Грабеж
									.col-md-6.hidden-sm.hidden-xs
										.time сегодня, 09:30
							.news-item-name
									a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
							footer
								.row
									.hidden-lg.hidden-md.col-sm-6.col-xs-6
										.time сегодня, 09:30
									.col-md-12.col-sm-6.col-xs-6
										a.razdel(href="#") Общество

				.col-md-12.hidden-sm.hidden-xs
					.banner-s
						a(href="#"): img(src="upload/banner-2.jpg" alt="")

		.col-md-6.col-sm-12.col-xs-12
			.row
				.col-md-12.hidden-sm.hidden-xs
					.banner-s
						a(href="#"): img(src="upload/banner-2.jpg" alt="")

				.col-md-12.col-sm-12.col-xs-12
						br
						| Видео город 48 Видео “Мобильный репортер” табы

				.hidden-lg.hidden-md.col-sm-12.col-xs-12
					.banner-s
						a(href="#"): img(src="upload/banner-2.jpg" alt="")

	//row
	.row
		.col-md-3.col-sm-6.col-xs-12
			.news-item: .row
				.news-item-img.col-md-12.col-sm-12.col-xs-5
					a(href="#"): img(src="upload/news-item.jpg" alt="")
				.news-item-text.col-md-12.col-sm-12.col-xs-7
					header
						.row
							.col-md-6.col-sm-6.hidden-xs
								a(href="#") #Недвижимость
								br
								a(href="#") #Грабеж
							.col-md-6.hidden-sm.hidden-xs
								.time сегодня, 09:30
					.news-item-name
							a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
					footer
						.row
							.hidden-lg.hidden-md.col-sm-6.col-xs-6
								.time сегодня, 09:30
							.col-md-12.col-sm-6.col-xs-6
								a.razdel(href="#") Общество

		.col-md-3.col-sm-6.col-xs-12
			.news-item.news-item2: .row
				.news-item-img.col-md-6.col-sm-6.col-xs-5
					a(href="#"): img(src="upload/news-item.jpg" alt="")
				.col-md-6.col-sm-6.col-xs-7
					.news-item-text.news-item-text2
						header
							.row
								.col-md-6.col-sm-6.hidden-xs
									a(href="#") #Недвижимость
									br
									a(href="#") #Грабеж
				.col-md-12.col-sm-12.col-xs-12
					.news-item-text
						.news-item-name
								a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
						footer
							.row
								.col-md-6.col-sm-6.col-xs-6
									.time сегодня, 09:30
								.col-md-6.col-sm-6.col-xs-6.text-right
									a.razdel(href="#") Общество


			.news-item.news-item3: .row
				.col-md-12.col-sm-12.col-xs-12
					.news-item-text
						.news-item-name
								a(href="#") Железнодорожники из-за жары вводят 
									br
									| повышенные меры безопасности
						footer
							.row
								.col-md-6.col-sm-6.col-xs-6
									.time сегодня, 09:30
								.col-md-6.col-sm-6.col-xs-6.text-right
									a.razdel(href="#") Общество
			.news-item.news-item3: .row
				.col-md-12.col-sm-12.col-xs-12
					.news-item-text
						.news-item-name
								a(href="#") Железнодорожники из-за жары вводят 
									br
									| повышенные меры безопасности
						footer
							.row
								.col-md-6.col-sm-6.col-xs-6
									.time сегодня, 09:30
								.col-md-6.col-sm-6.col-xs-6.text-right
									a.razdel(href="#") Общество

		.col-md-6.col-sm-12.col-xs-12
			br
			| Выбор редакции Важное в мире Новости России

	//row
	.row
		.col-md-6.col-sm-12.col-xs-12
			.row
				.col-md-6.col-sm-6.col-xs-12
					.news-item.news-item2: .row
						.news-item-img.col-md-6.col-sm-6.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.col-md-6.col-sm-6.col-xs-7
							.news-item-text.news-item-text2
								header
									.row
										.col-md-6.col-sm-6.hidden-xs
											a(href="#") #Недвижимость
											br
											a(href="#") #Грабеж
						.col-md-12.col-sm-12.col-xs-12
							.news-item-text
								.news-item-name
										a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
								footer
									.row
										.col-md-6.col-sm-6.col-xs-6
											.time сегодня, 09:30
										.col-md-6.col-sm-6.col-xs-6.text-right
											a.razdel(href="#") Общество

				.col-md-6.col-sm-6.col-xs-12
					.banner-s
						a(href="#"): img(src="upload/banner-3.jpg" alt="")
				.col-md-12.col-sm-12.col-xs-12
					.news-item.news-item4: .row
						.news-item-img.col-md-6.col-sm-6
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.news-item-text.col-md-6.col-sm-6
							header
								.row
									.col-md-12.col-sm-12
										a(href="#") #Недвижимость
										br
										a(href="#") #Грабеж													
							.news-item-name
									a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
							footer
								.row
									.col-md-6.col-sm-6.col-xs-6
										.time сегодня, 09:30
									.col-md-6.col-sm-6.col-xs-6
										a.razdel(href="#") Общество

			.news-item.news-item3: .row
				.col-md-12.col-sm-12.col-xs-12
					.news-item-text
						.news-item-name
								a(href="#") Железнодорожники из-за жары вводят 
									br
									| повышенные меры безопасности
						footer
							.row
								.col-md-6.col-sm-6.col-xs-6
									.time сегодня, 09:30
								.col-md-6.col-sm-6.col-xs-6.text-right
									a.razdel(href="#") Общество
			.news-item.news-item3: .row
				.col-md-12.col-sm-12.col-xs-12
					.news-item-text
						.news-item-name
								a(href="#") Железнодорожники из-за жары вводят 
									br
									| повышенные меры безопасности
						footer
							.row
								.col-md-6.col-sm-6.col-xs-6
									.time сегодня, 09:30
								.col-md-6.col-sm-6.col-xs-6.text-right
									a.razdel(href="#") Общество

		.col-md-6.col-sm-12.col-xs-12
			.news-item.news-item4: .row
				.news-item-img.col-md-6.col-sm-6
					a(href="#"): img(src="upload/news-item.jpg" alt="")
				.news-item-text.col-md-6.col-sm-6
					header
						.row
							.col-md-12.col-sm-12
								a(href="#") #Недвижимость
								br
								a(href="#") #Грабеж													
					.news-item-name
							a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
					footer
						.row
							.col-md-6.col-sm-6.col-xs-6
								.time сегодня, 09:30
							.col-md-6.col-sm-6.col-xs-6
								a.razdel(href="#") Общество

			.row
				.col-md-6.col-sm-6.col-xs-12
					.news-item: .row
						.news-item-img.col-md-12.col-sm-12.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.news-item-text.col-md-12.col-sm-12.col-xs-7
							header
								.row
									.col-md-6.col-sm-6.hidden-xs
										a(href="#") #Недвижимость
										br
										a(href="#") #Грабеж
									.col-md-6.hidden-sm.hidden-xs
										.time сегодня, 09:30
							.news-item-name
									a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
							footer
								.row
									.hidden-lg.hidden-md.col-sm-6.col-xs-6
										.time сегодня, 09:30
									.col-md-12.col-sm-6.col-xs-6
										a.razdel(href="#") Общество			
				
				.col-md-6.col-sm-6.col-xs-12
					.news-item: .row
						.news-item-img.col-md-12.col-sm-12.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.news-item-text.col-md-12.col-sm-12.col-xs-7
							header
								.row
									.col-md-6.col-sm-6.hidden-xs
										a(href="#") #Недвижимость
										br
										a(href="#") #Грабеж
									.col-md-6.hidden-sm.hidden-xs
										.time сегодня, 09:30
							.news-item-name
									a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
							footer
								.row
									.hidden-lg.hidden-md.col-sm-6.col-xs-6
										.time сегодня, 09:30
									.col-md-12.col-sm-6.col-xs-6
										a.razdel(href="#") Общество			

	//row
	.row
		.col-md-6.col-sm-12.col-xs-12
			.banner-s
				a(href="#"): img(src="upload/banner-2.jpg" alt="")

			.row
				.col-md-6.col-sm-6.col-xs-12
					.news-item.news-item2: .row
						.news-item-img.col-md-6.col-sm-6.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.col-md-6.col-sm-6.col-xs-7
							.news-item-text.news-item-text2
								header
									.row
										.col-md-6.col-sm-6.hidden-xs
											a(href="#") #Недвижимость
											br
											a(href="#") #Грабеж
						.col-md-12.col-sm-12.col-xs-12
							.news-item-text
								.news-item-name
										a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
								footer
									.row
										.col-md-6.col-sm-6.col-xs-6
											.time сегодня, 09:30
										.col-md-6.col-sm-6.col-xs-6.text-right
											a.razdel(href="#") Общество
				.col-md-6.col-sm-6.col-xs-12
					.news-item.news-item2: .row
						.news-item-img.col-md-6.col-sm-6.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.col-md-6.col-sm-6.col-xs-7
							.news-item-text.news-item-text2
								header
									.row
										.col-md-6.col-sm-6.hidden-xs
											a(href="#") #Недвижимость
											br
											a(href="#") #Грабеж
						.col-md-12.col-sm-12.col-xs-12
							.news-item-text
								.news-item-name
										a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
								footer
									.row
										.col-md-6.col-sm-6.col-xs-6
											.time сегодня, 09:30
										.col-md-6.col-sm-6.col-xs-6.text-right
											a.razdel(href="#") Общество
			.news-item.news-item4: .row
				.news-item-img.col-md-6.col-sm-6
					a(href="#"): img(src="upload/news-item.jpg" alt="")
				.news-item-text.col-md-6.col-sm-6
					header
						.row
							.col-md-12.col-sm-12
								a(href="#") #Недвижимость
								br
								a(href="#") #Грабеж													
					.news-item-name
							a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
					footer
						.row
							.col-md-6.col-sm-6.col-xs-6
								.time сегодня, 09:30
							.col-md-6.col-sm-6.col-xs-6
								a.razdel(href="#") Общество
			.news-item.news-item4: .row
				.news-item-img.col-md-6.col-sm-6
					a(href="#"): img(src="upload/news-item.jpg" alt="")
				.news-item-text.col-md-6.col-sm-6
					header
						.row
							.col-md-12.col-sm-12
								a(href="#") #Недвижимость
								br
								a(href="#") #Грабеж													
					.news-item-name
							a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
					footer
						.row
							.col-md-6.col-sm-6.col-xs-6
								.time сегодня, 09:30
							.col-md-6.col-sm-6.col-xs-6
								a.razdel(href="#") Общество
			.row
				.col-md-6.col-sm-6.col-xs-12
					.news-item.news-item2: .row
						.news-item-img.col-md-6.col-sm-6.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.col-md-6.col-sm-6.col-xs-7
							.news-item-text.news-item-text2
								header
									.row
										.col-md-6.col-sm-6.hidden-xs
											a(href="#") #Недвижимость
											br
											a(href="#") #Грабеж
						.col-md-12.col-sm-12.col-xs-12
							.news-item-text
								.news-item-name
										a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
								footer
									.row
										.col-md-6.col-sm-6.col-xs-6
											.time сегодня, 09:30
										.col-md-6.col-sm-6.col-xs-6.text-right
											a.razdel(href="#") Общество
				.col-md-6.col-sm-6.col-xs-12
					.news-item.news-item2: .row
						.news-item-img.col-md-6.col-sm-6.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.col-md-6.col-sm-6.col-xs-7
							.news-item-text.news-item-text2
								header
									.row
										.col-md-6.col-sm-6.hidden-xs
											a(href="#") #Недвижимость
											br
											a(href="#") #Грабеж
						.col-md-12.col-sm-12.col-xs-12
							.news-item-text
								.news-item-name
										a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
								footer
									.row
										.col-md-6.col-sm-6.col-xs-6
											.time сегодня, 09:30
										.col-md-6.col-sm-6.col-xs-6.text-right
											a.razdel(href="#") Общество
			.banner-s
				a(href="#"): img(src="upload/banner-2.jpg" alt="")

		.col-md-6.col-sm-12.col-xs-12
			.news-item.news-item4: .row
				.news-item-img.col-md-6.col-sm-6
					a(href="#"): img(src="upload/news-item.jpg" alt="")
				.news-item-text.col-md-6.col-sm-6
					header
						.row
							.col-md-12.col-sm-12
								a(href="#") #Недвижимость
								br
								a(href="#") #Грабеж													
					.news-item-name
							a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
					footer
						.row
							.col-md-6.col-sm-6.col-xs-6
								.time сегодня, 09:30
							.col-md-6.col-sm-6.col-xs-6
								a.razdel(href="#") Общество
			.row
				.col-md-6.col-sm-6.col-xs-12
					.news-item: .row
						.news-item-img.col-md-12.col-sm-12.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.news-item-text.col-md-12.col-sm-12.col-xs-7
							header
								.row
									.col-md-6.col-sm-6.hidden-xs
										a(href="#") #Недвижимость
										br
										a(href="#") #Грабеж
									.col-md-6.hidden-sm.hidden-xs
										.time сегодня, 09:30
							.news-item-name
									a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
							footer
								.row
									.hidden-lg.hidden-md.col-sm-6.col-xs-6
										.time сегодня, 09:30
									.col-md-12.col-sm-6.col-xs-6
										a.razdel(href="#") Общество					
				.col-md-6.col-sm-6.col-xs-12
					.banner-s
						a(href="#"): img(src="upload/banner-right.jpg" alt="")
			.news-item.news-item4: .row
				.news-item-img.col-md-6.col-sm-6
					a(href="#"): img(src="upload/news-item.jpg" alt="")
				.news-item-text.col-md-6.col-sm-6
					header
						.row
							.col-md-12.col-sm-12
								a(href="#") #Недвижимость
								br
								a(href="#") #Грабеж													
					.news-item-name
							a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
					footer
						.row
							.col-md-6.col-sm-6.col-xs-6
								.time сегодня, 09:30
							.col-md-6.col-sm-6.col-xs-6
								a.razdel(href="#") Общество
			.row
				.col-md-6.col-sm-6.col-xs-12
					.news-item: .row
						.news-item-img.col-md-12.col-sm-12.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.news-item-text.col-md-12.col-sm-12.col-xs-7
							header
								.row
									.col-md-6.col-sm-6.hidden-xs
										a(href="#") #Недвижимость
										br
										a(href="#") #Грабеж
									.col-md-6.hidden-sm.hidden-xs
										.time сегодня, 09:30
							.news-item-name
									a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
							footer
								.row
									.hidden-lg.hidden-md.col-sm-6.col-xs-6
										.time сегодня, 09:30
									.col-md-12.col-sm-6.col-xs-6
										a.razdel(href="#") Общество
				.col-md-6.col-sm-6.col-xs-12
					.news-item: .row
						.news-item-img.col-md-12.col-sm-12.col-xs-5
							a(href="#"): img(src="upload/news-item.jpg" alt="")
						.news-item-text.col-md-12.col-sm-12.col-xs-7
							header
								.row
									.col-md-6.col-sm-6.hidden-xs
										a(href="#") #Недвижимость
										br
										a(href="#") #Грабеж
									.col-md-6.hidden-sm.hidden-xs
										.time сегодня, 09:30
							.news-item-name
									a(href="#") Липецкую управляющую компанию офштрафовали на 100 тысяч рублей
							footer
								.row
									.hidden-lg.hidden-md.col-sm-6.col-xs-6
										.time сегодня, 09:30
									.col-md-12.col-sm-6.col-xs-6
										a.razdel(href="#") Общество
	| Все новости